version: '3.8'

services:
  web:
    build: .
    container_name: typemaster_web
    command: sh -c "
        python manage.py collectstatic --noinput && \
        python manage.py migrate --noinput && \
        python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
      - DJANGO_SETTINGS_MODULE=type_master.settings
      - DEBUG=True